<%- include('partials/head') %>
    <title>Commenter - Home</title>
</head>

<body>
    <%- include('partials/userbar') %>
    <h1>Welcome to commenter! Please navigate to the comment page, or log in/register.</h1>
</body>

</html>